extends layout/app

block page
    div.container
        include chunk/header

    div.container
        h1.title Главная
        p.text Мне не нова магия Flexbox, но я не часто ее использую, и поэтому после паузы в использовании мне приходится открывать вот этот пост на CSS-Tricks чтобы освежить память.Я решила создать краткую визуальную шпаргалку по Flexbox для тех случаев освежения памяти после паузы в будущем. Думаю, что у меня получилась шпаргалка, основанная на… шпаргалках.
        section.test
            h2.title Всё отлично Марочка любимая я сделаю всё для тебя!
        img(src="img/test.jpg", alt="img" width="800")
    div.container
         include chunk/footer
